<form name="recipe_form" class="pure-form pure-form-stacked">
    <fieldset>
        <div ng-class="{error: recipe_form.name.$invalid && !recipe_form.name.$pristine}">
            <label>Name</label>
            <input class="pure-input-1" type="text" name="name" ng-model="recipe.name" required>
            <span ng-show="recipe_form.name.$error.required && !recipe_form.name.$pristine" class="help-inline">
                Required {{recipe_form.name.$pristine}}</span>

            <label>Introduction</label>
            <textarea class="pure-input-1" name="intro" ng-model="recipe.intro"></textarea>
        </div>

        <label>Ingredients</label>
            
        <div class="pure-form" ng-repeat="ingredient in recipe.ingredients" ng-form="ingredients_form" required>
            <div class="pure-u-8-24">
                <input class="pure-input-1" type="text" ng-model="ingredient.name" placeholder="Ingredient"/>
            </div>
            <div class="pure-u-4-24">
                <input class="pure-input-1" type="text" ng-model="ingredient.amount" placeholder="Amount"/>
            </div>
            <div class="pure-u-8-24">
                <input class="pure-input-1" type="text" ng-model="ingredient.method" placeholder="Method"/>
            </div>
            <div class="pure-u-1-24">
                <button class="pure-button button-danger button-small pure-input-1" ng-click="removeIngredient(ingredient)" ng-disabled="recipe.ingredients.length<=1">
                    <i class="fa fa-trash-o fa-lg"></i>
                </button>
            </div>
        </div>
        <button class="pure-button button-success pure-input-1 button-small" ng-click="addIngredient()">
            <i class="fa fa-plus fa-lg"> Add ingredient</i>
        </button>

        <label>Method</label>
        <textarea class="pure-input-1" name="method" ng-model="recipe.method"></textarea>

        <button class="pure-button pure-button-primary pure-input-1-4" ng-click="save()" ng-disabled="recipe_form.$invalid">Save</button>
        <button class="pure-button button-danger pure-input-1-6" ng-click="destroy()" ng-show="recipe.$remove">Delete</button>
    </fieldset>
</form>
<a href="#/">Cancel</a>
<pre>{{recipe_form|json}}</pre>