<form name="recipe_form" class="pure-form pure-form-stacked">
    <fieldset>
        <div ng-class="{error: recipe_form.name.$invalid && !recipe_form.name.$pristine}">
            <label>Name</label>
            <input class="pure-input-1" type="text" name="name" ng-model="recipe.name" required>
            <span ng-show="recipe_form.name.$error.required && !recipe_form.name.$pristine" class="help-inline">
                Required {{recipe_form.name.$pristine}}</span>

            <label>Introduction</label>
            <textarea class="pure-input-1" name="intro" ng-model="recipe.intro"></textarea>
        </div>

        <label>Ingredients</label>
        <a class="pure-button pure-button-primary" ng-click="addIngredient()">Add ingredient</a>
            
        <div class="pure-g" ng-repeat="ingredient in recipe.ingredients" ng-form="ingredients_form" required>

            <div class="pure-u-8-24">
                <input class="pure-input-1" type="text" ng-model="ingredient.name" placeholder="Ingredient"/>
            </div>
            <div class="pure-u-4-24">
                <input class="pure-input-1" type="text" ng-model="ingredient.amount" placeholder="Amount"/>
            </div>
            <div class="pure-u-8-24">
                <input class="pure-input-1" type="text" ng-model="ingredient.method" placeholder="Method"/>
            </div>
            <div class="pure-u-4-24">
                <button class="pure-button pure-button-primary pure-input-1" ng-click="removeIngredient(ingredient)" ng-disabled="recipe.ingredients.length<=1">
                    <i class="icon-trash">Remove</i>
                </button>
            </div>
        </div>

        <label>Method</label>
        <textarea class="pure-input-1" name="method" ng-model="recipe.method"></textarea>

        <a href="#/" class="btn">Cancel</a>

        <button class="pure-button pure-button-primary" ng-click="save()" ng-disabled="recipe_form.$invalid">Save</button>
        <button class="pure-button pure-button-primary" ng-click="destroy()" ng-show="recipe.$remove">Delete</button>
    </fieldset>
</form>
<pre>{{recipe_form|json}}</pre>