<div class="posts" ng-controller="ListCtrl">
    <a href="#/new"><i class="icon-plus-sign"></i>New</a>
    <h1 class="content-subhead">Recent Posts</h1>

    <section class="post" ng-repeat="recipe in recipes | orderByPriority | filter:search | orderBy:'name'">
        <a href="#/edit/{{recipe.$id}}"><i class="icon-pencil"></i>Edit</a>
        <header class="post-header">
            <h2 class="post-title">{{recipe.name}}</h2>
            <p class="post-meta">
                By <a class="post-author" href="#">Mummy</a> s
            </p>
        </header>
        <div class="post-intro">
            <p>{{recipe.intro}}</p>
        </div>
        <div class="post-ingredients" ng-repeat="ingredient in recipe.ingredients">
            <span>{{ingredient.amount}}</span>
            <span>{{ingredient.name}}</span>
            <span>{{ingredient.method}}</span>
        </div>
        <div class="post-method">
            <p>{{recipe.method}}</p>
        </div>
    </section>
</div>